
table {
  font-family: lucida sans unicode, lucida grande, Sans-Serif;
  font-size: 12px;
  background: #fff;
  width: 480px;
  border-collapse: collapse;
  text-align: left;
  margin: 20px;
}
table th {
  font-size: 14px;
  font-weight: 400;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
table td {
  color: #669;
  padding: 9px 8px 0;
}
table tbody tr:hover td {
  color: #009;
  background-color: aliceblue;
}

#database-selector label{
  display : inline;
  padding-right : 4px;
 }

 #database-selector select{
  margin-top : 4px;
 }
